@font-face {
  font-family: "me-icon"; /* Project id 2253778 */
  src: url('src/package/css/iconfont/iconfont.woff2?t=1623511977842') format('woff2'),
       url('src/package/css/iconfont/iconfont.woff?t=1623511977842') format('woff'),
       url('src/package/css/iconfont/iconfont.ttf?t=1623511977842') format('truetype');
}

.me-icon {
  font-family: "me-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.me-icon-rotate1:before {
  content: "\e644";
}

.me-icon-rotate2:before {
  content: "\e62c";
}

.me-icon-cancel:before {
  content: "\e7c6";
}

.me-icon-rotate-right:before {
  content: "\e600";
}

.me-icon-sure:before {
  content: "\e610";
}

.me-icon-rotate-left:before {
  content: "\e60a";
}

